.container{
    display: flex;
    
}


.box1 {
    width: 80px;
    background-color: green;
}

.box2 {
    width: 60px;
    background-color: yellow;
}

.box3 {
    width: 50px;
    background-color: blue;
}